body {
  margin: 0;
  background-color: var(--col-secondary-hint);
}
main, footer {
  padding: 1rem;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}


/*** LEFT NAV ***/
body, main {
  display: flex;
  flex-wrap: wrap;
}

header, footer {
  width: 100%;
}

body > nav.nav-sub, aside {
  flex-basis: 20rem;
  flex-grow: 1;
}

nav.nav-sub + main {
  min-width: 50%;
  flex-grow: 100;
}
