body {
  margin: 0;
  background-color: var(--col-secondary-hint);
  background: url(/img/draft.svg);
  background-size: contain;
}
main, footer {
  padding: 1rem;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}


/*** LEFT NAV ***/
body, main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

header, footer {
  width: 100%;
}

body > nav, aside {
  flex-basis: 20rem;
  flex: 1 0 0;
}

nav + main {
  min-width: 50%;
  flex: 3 0px;
  /*flex-grow: 100;*/
}
@media (min-width:50rem) {
  main {
    order: 1;
    flex: 1 0 0;
  }
  body > nav {
    order: 2;
  }
}
