/***LINKS AND BUTTONS***/
a {
  color: var(--col-link);
  transition: all ease 0.25s;
  padding: 0 0.3rem;
}

a:hover, a:focus {
  background-color: var(--col-link);
  color: white;
  border-radius: 0.3rem;
  text-decoration: none;
}

[aria-describedby="ext-site"]::after {
    content: ' \21D7';
    /*content: ' \21F1';*/
}
