/* list styling options */

.list {
  list-style: none;
  padding: 0;
}

.list li {
  padding: 0.5rem;
  border-bottom: 1px solid #5a5a5a33;
}

.list li:hover, .list li:focus {
  background-color: var(--col-bg-medium);
}
