/***NAV***/
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  width: 15rem;
}

#logo path {
  fill: var(--col-primary-normal);
}

#logo polygon.svg-m {
  fill: var(--col-primary-normal);
}

#logo:hover .svg-m path, #logo:focus .svg-m path {
  fill: var(--col-secondary-light);
}

#logo:hover .svg-text path, #logo:focus .svg-text path {
  fill: white;
}

nav > a {
  padding: 1rem 1.25rem;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

nav > a:hover, nav > a:focus {
  text-decoration: underline;
}

nav[aria-label="Main"], .nav-hor {
  display: flex;
}

/*nav[aria-label="Main"] > a, .nav-hor > a {
  flex-shrink: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 0;
}*/

nav[aria-label="Main"] > a {
  border-radius: 0;
}

nav[aria-label="Main"] > a:hover::after,
nav[aria-label="Main"] > a:focus::after,
.nav-hor > a:hover::after,
.nav-hor > a:focus::after {
  content: "";
  display: block;
  width: 0.25rem;
  height: 100%;
  background-color: var(--col-bg-medium);
  position: absolute;
  left: 0;
  top: 0;
}

nav[aria-label="Main"] > a[aria-current="page"]::after,
nav[aria-label="Main"] > a[aria-current="page"]:hover::after,
nav[aria-label="Main"] > a[aria-current="page"]:focus::after {
  content: "";
  display: block;
  width: 0.25rem;
  height: 100%;
  background-color: var(--col-link);
  position: absolute;
  left: 0;
  top: 0;
}

/*** Breadcrumb nav ***/
nav[aria-label="Breadcrumb"] {
  flex-basis: 100%;
}

nav[aria-label="Breadcrumb"] ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav[aria-label="Breadcrumb"] li {
  display: inline-block;
}

nav[aria-label="Breadcrumb"] li:before {
  content: "\2000";
  position: absolute;
}

nav[aria-label="Breadcrumb"] li:not(:last-child):after {
  content: "";
  display: inline-block;
  margin-left: 0.75ch;
  margin-right: 0.5ch;
  border-top: 0.75ch solid transparent;
  border-bottom: 0.75ch solid transparent;
  border-left: 0.75ch solid var(--col-text);
}
