/*** ROOT***/
:root {
  /* breakpoints */
  --bp-small: 24.15;
  --bp-medium: 43.75;
  --bp-large: 60.25;
  --bp-xlarge: 75;

  /* colors */
  --col-primary: #7a0019;
  --col-primary-light: #900021;
  --col-primary-dark: #5b0013;

  --col-secondary: #fc3;
  --col-secondary-light: #ffde7a;
  --col-secondary-dark: #ffc20d;
  --col-secondary-hint: #fefefb;

  --col-link: #0053b0;
  /* originally selected, only 1.5 highlight contrast
  --col-link-light: #bdd5f5;
  --col-link-dark: #003d81;*/
  --col-link-light: #5699dc;
  --col-link-dark: #002d61;

  --col-text: #333;
  --col-text-light: #5a5a5a;

  --col-bg-light: #fafafa;
  --col-bg-medium: #f0efee;

  /* spacing - bottom oriented */
  --m-norm: 2;
  --m-min: 1;
  --m-max: 5;

  /* headings */
  --h1-min: 3;
  --h1-max: 5;
}

/* browser adjusts height/width values to account for border/padding added */
*, *::before, *::after {
  box-sizing: border-box;
}
