/*** TYPOGRAPHY ***/
body {
  /*font: 400 calc(1em + 1vw)/1.7 Tahoma, Verdana, sans-serif;*/
  font: 400 1rem/1.5 Tahoma, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--col-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Lucida Bright, serif;
  text-shadow: 0.07em 0.07em 0 rgba(0,0,0,0.1);
  margin: 0 0 1rem;
  line-height: 1;
}

article > h2 {
  border-bottom: 1px solid;
}

h1 {
  font-size: calc(( var(--h1-min) * 1em) + (var(--h1-max) - var(--h1-min)) * ((100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small))));
}

blockquote {
  font-family: Georgia, Lucida Bright, serif;
  position: relative;
  padding-left: 2rem;
  margin-bottom: calc( var(--m-norm) * 1rem);
  border-left: 2px solid var(--col-bg-medium);
}

blockquote::before, blockquote::after {
  font-size: 3rem;
  position: absolute;
  color: var(--col-text-light);
}

blockquote::before {
  content: '\201C';
  margin-left: -1.5rem;
  top: -0.6rem;
}

blockquote::after {
  content: '\201D';
  bottom: -2.4rem;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--col-secondary-dark);
  margin: calc( var(--m-norm) * 1rem) 0;
}

.lead {
  font-size: 140%;
  background-color: var(--col-bg-light);
  padding: 0.5rem;
  margin-bottom: calc( var(--m-norm) * 1rem);
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 0.3rem 0;
}

dt:not(:first-child) {
  margin-top: 1rem;
}
